

<nav class="nav1">  
    <div class="logo">  
        <img src="/proyecto cla/imagenes/6e419204cc3a052a2704eff36dab8d5d.jpg" alt=" Yu-Gi-Oh!  " />  
    </div>

    <ul class="ul1">  
     <li class="li1"><a href="">Inicio</a></li>  
     <li class="li1"><a href="">Servicios</a></li>  
     <li class="li1"><a href="">Comunidad</a></li>  
     <li class="li1"><a href="">Ayuda</a></li>  
    </ul>

</nav>  

<br>
<br>
<br>

<div class="slider-container">  
    <div class="left-slide">  
     <div style="background-color: #5F5173">  
         <h1>Mago oscuro</h1>  
      <p>Según el videojuego Yu-Gi-Oh! Duelo en las Tinieblas, la descripción de "Mago Oscuro" es la siguiente:
        Usuario de magia del nivel más alto</p>  
     </div> 

     <div style="background-color: #3084F2">  
      <h1>Heroe Elemental Neos</h1>  
      <p>POTD: ¡Un nuevo Héroe Elemental ha llegado desde el Neo Espacio! Cuando inicia una Fusión de Contacto con un Neo Espacial sus desconocidos poderes son liberados.</p>  
     </div> 

     <div style="background-color: #D91E2E">  
      <h1>Dragón de Ojos Anomalos</h1>  
      <p>Puedes reducir a 0 el daño de batalla que recibas de un ataque que involucre a un Monstruo de Péndulo que controles. Durante tu End Phase: puedes destruir esta carta y, si lo haces, añade a tu mano 1 Monstruo de Péndulo con 1500 ATK o menos en tu Deck. Sólo puedes usar cada Efecto de Péndulo de "Dragón de Péndulo de Ojos Anómalos" una vez por turno.</p>  
     </div>  

     <div style="background-color: #41D9BD">  
      <h1>Dragon Blanco de Ojos Azules</h1>  
      <p>"Dragón de Ojos Azules Definitivo" es requerida para la 
        Invocación Especial del monstruo "Dragón Brillante de Ojos Azules". 
        Sin embargo, "Dragón Brillante de Ojos Azules" fue lanzado 
        en el TCG en agosto del 2004, mientras que "Dragón de Ojos Azules Definitivo" 
        apareció por primera vez en el TCG como una de las Cartas 
        Promocionales de la Revista Shonen Jump en enero de 2006.</p>  
     </div>  
     
    </div> 

    <div class="right-slide">  
     <div  
      style="  
       background-image: url('https://static.wikia.nocookie.net/4b99f7e8-0ce6-420f-bd42-aff7a09e190b');"  
     ></div>
      
     <div  
      style="  
         background-image: url('https://p4.wallpaperbetter.com/wallpaper/578/1005/319/odd-eyes-raging-dragon-trading-card-games-anime-dragon-yu-gi-oh-hd-wallpaper-preview.jpg');"  
     ></div>

     <div  
      style="  
         background-image: url('https://i.pinimg.com/originals/75/ac/a9/75aca9d8917d66686b0f062423802d33.png');"  
     ></div>

     <div  
      style="  
        background-image: url('https://i.pinimg.com/originals/e8/51/c4/e851c4680e3b9cd04e45762387d4f1e9.jpg');"  
     ></div>

    </div> 
    
    
    <div class="action-buttons">  
     <button class="down-button">  
      <i class="fas fa-arrow-down"></i>  
     </button>  
     <button class="up-button">  
      <i class="fas fa-arrow-up"></i>  
     </button>  
    </div>  
</div>
