<div class="cards">
    <div class="card">
        <h2 class="card-title">SobreMaestro</h2>
        <img src="https://s1.eestatic.com/2022/01/27/elandroidelibre/aplicaciones/juegos/645695696_221419347_1706x960.jpg" alt="">
        <p class="card-desc">Hace poco menos de dos semanas, Konami lanzó por sorpresa Yu-Gi-Oh! Master Duel, la nueva entrega free to play del conocido juego de cartas de la compañía japonesa. Tras llegar a consolas y PC, el título desembarcó también en la plataformas móviles hace unos días, contando con la posibilidad de sincronizar nuestra cuenta en todos y cada uno de nuestros dispositivos. Pues bien, si hace unos días os contábamos como hacer un deck barato en este nuevo juego, desde SomosXbox ahora os traemos algunos de los 5 mejores deck baratos en Yu-Gi-Oh! Master Duel.</p>
    </div>

    <div class="card">
        <h2 class="card-title">MagoOscuro</h2>
        <img src="https://s3.duellinksmeta.com/cards/60c2b3aba0e24f2d54a53000_w360.webp" alt="">
        <p class="card-desc">Cuando robas esta carta: puedes mostrar esta carta; Invócala de Modo Especial desde tu mano. Si esta carta batalla con un monstruo de OSCURIDAD, su ATK se duplica sólo durante el Damage Step. Si esta carta es destruida en batalla o por el efecto de una carta: puedes Invocar de Modo Especial, desde tu mano, Deck o Cementerio, 1 "Mago Oscuro".</p>
    </div>

    <div class="card">
        <h2 class="card-title">Neos</h2>
        <img src="https://s3.duellinksmeta.com/cards/60c2b3aaa0e24f2d54a51f9b_w360.webp" alt="">
        <p class="card-desc">"Neos" (ネオス Neosu) es un arquetipo de cartas introducidos en Golpe de Neos. Su monstruo principal es "HÉROE Elemental Neos", usado por Jaden Yuki en el anime Yu-Gi-Oh! GX. "HÉROE Elemental Neos" tiene sinergia con el arquetipo "Neo Espacial" para Invocar a los Monstruos de Fusión "Neos" por Fusión de Contacto. La mayoría de los Monstruos de Fusión "Neos" tienen una versión mejorada del efecto del monstruo "Neo Espacial" Material de Fusión correspondiente.

            En el "JCC", debido a que varias cartas "Neos" incluyen "Neo Espacio" en su nombre para el JCC (y las cartas "Neo Espacio" son exclusivamente "Neos"), "Neo Espacio" se considera un arquetipo separado de "Neos", pero es compatible con todas las cartas que admiten cartas "Neos" que también podrían afectar a las cartas de "Neo Espacio", como "HÉROE Elemental Divine Neos"..</p>
    </div>
</div>

<br>
<br>
<br>

<div class="cards">
    <div class="card">
        <h2 class="card-title">MagoSilencioso</h2>
        <img src="https://s3.duellinksmeta.com/cards/60c2b3aca0e24f2d54a535ec_w360.webp" alt="">
        <p class="card-desc">"Mago Silencioso (arquetipo)" (サイレント・マジシャン Sairento Majishan en Japón, escrito como 沈黙の魔術師 Sairento no Majishan en la serie de anime) es un arquetipo de monstruos "LV" Lanzador de Conjuros de LUZ femeninos usados por Yugi Muto.

            Tanto en el JCC como en el OCG, hay tres integrantes: "Mago Silencioso LV4", "Mago Silencioso LV8", y "Mago Silencioso". Los dos primeros fueron lanzados por primera vez como cartas promocionales en el videojuego Yu-Gi-Oh! Nightmare Troubadour. Este último está basado en "Mago Silencioso LV0" y "Mago Silencioso", y fue lanzado en Duelist Pack: Pharaoh's Memories Version.
            
            En la serie de anime y manga, la carta "Mago Silencioso LV0" (simplemente llamada "Mago Silencioso" en el manga) ganaba Niveles con su propio efecto.
            
            "Mago Silencioso LV4" aparece como personaje en el videojuego Yu-Gi-Oh! Ultimate Masters: World Championship Tournament 2006 y Yu-Gi-Oh! World Championship 2007. "Mago Silencioso LV8" también aparece como personaje en World Championship 2007.</p>
    </div>

    <div class="card">
        <h2 class="card-title">Dinomorphia</h2>
        <img src="https://ms.yugipedia.com//thumb/2/20/DinomorphiaKentregina-BACH-EN-UR-1E.png/300px-DinomorphiaKentregina-BACH-EN-UR-1E.png" alt="">
        <p class="card-desc">"Dinomorfia" es un Deck basados en Monstruos de Fusión y Cartas de Trampas y Monstruos de Fusión centrada en poner al jugador en un estado de juego bajo de LP, cercano a 0. El arquetipo se compone principalmente de Cartas de Trampa que requieren que el jugador pague la mitad de sus LP para activarse, con efectos que van desde campos establecidos, interrupción hasta la recuperación. Mientras tanto, todos los monstruos "Dinomorfia" tienen efectos que hacen que los monstruos sean más fuertes cuanto menor sea el LP del jugador, alentando al jugador a reducir su LP tanto como sea posible sin morir.</p>
    </div>
    
    <div class="card">
        <h2 class="card-title">Mirrorjade</h2>
        <img src="https://yugioh.cardsrealm.com/ezoimgfmt/cdn.cardsrealm.com/images/cartas/sdaz-structure-deck--albaz-strike/en/crop-med/mirrorjade-the-iceblade-dragon-en041.jpeg?5436&ezimgfmt=rs:0x0/rscb1/ngcb1/notWebP" alt="">
        <p class="card-desc">"Caído de Albaz" + 1 Monstruo de Fusión, Sincronía, Xyz o Enlace
            Sólo puedes controlar 1 "Espejade el Dragón Hoja de Hielo". Una vez por turno (Efecto Rápido): puedes mandar al Cementerio 1 Monstruo de Fusión en tu Deck Extra que mencione "Caído de Albaz" como material; destierra 1 monstruo en el Campo, y además el próximo turno esta carta no puede usar este efecto. Si esta carta Invocada por Fusión controlada por su dueño deja el Campo a causa de una carta del adversario: puedes destruir todos los monstruos que controle tu adversario durante la End Phase de este turno.</p>
    </div>
</div>

<br>
    <br>
    <br>

    <div class="popup-box">
        <div class="popup">
            <div class="content">
                <header>
                    <p>Add a new note</p>
                    <i class="fa-solid fa-xmark"></i>
                </header>
                <form action="#">
                    <div class="row title">
                        <label for="">Title</label>
                        <input type="text" name="" id="">
                    </div>
                    <div class="row description">
                        <label for="">Description</label>
                        <textarea></textarea>
                    </div>
                    <button>Add Note</button>
                </form>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <li class="add-box">
            <div class="icon"><i class="fa-solid fa-plus"></i></div>
            <p>Add new note</p>
        </li>
    </div>

